<?xml version="1.0" encoding="UTF-8"?>
<suite name="Parallel Browser Test Suite" parallel="tests" thread-count="2">
    <!-- Test for Chrome -->
    <test name="Chrome Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.runner.RunnerTestNG"/>
        </classes>
    </test>

    <!-- Test for Edge -->
    <test name="Edge Test">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.runner.RunnerTestNG"/>
        </classes>
    </test>
</suite>


 